body{
    background: url(img/background.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logo{
    letter-spacing: 1px;
    margin-left:60px;
    color: rgb(255, 119, 0);
    cursor: pointer;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header li{
    display: inline-block;
    padding: 10px;
    
}
header li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
header li a:hover{
    color:  rgb(255, 119, 0);
    transition: 0.4s;
}
.search{
    margin-right:50px;
    border: 2px solid orange;
    border-radius: 5px;

}
.search input{
  
   padding: 5px 5px;
   border: none;
   border-radius: 1px;
   color: white;
   background: transparent;
}
.search button{
    border: 2px solid rgb(255, 119, 0);;
    padding: 5px 5px;
  
   background-color:rgb(255, 119, 0); ;
   color: white;

}
.content{
   width: 1200px;
   height: auto;
   margin: auto;
   color: white;
   position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    color: white;

    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 1.2px;
}
.content h1 span{
    color: rgb(255, 119, 0);
    font-size: 60px;
}
.content .para{
    padding-left: 20px;
    padding-top: 25px;
    font-family: Arial;
    letter-spacing: 1.5px;
    line-height: 30px;
}
.content button{
    width: 160px;
    height:40px;
    background-color: rgb(255, 119, 0);
    margin-top: 4%;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;

}
.content button:hover{
    background-color:white ;
}
.cn a{
    color: black;
    transition: .5s;
}
.form{
 
    height: 380px;
    width: 250px;
    background:linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position:absolute;
    top:150px;
    left: 870px;
    opacity: 80%;
    padding: 25px;
    border: ;
}
.form h2{
color: rgb(255, 119, 0);
text-align: center;
background-color: white;
width: 200px;
padding: 8px;
margin: 2px, 2px;
border-radius: 20px;
font-size: 22px;

}
.form input{
    background:transparent;
    border-top:none ;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    
    
}
.form input:focus{
    outline: none;
}
.form input::placeholder{
    color: white;
}

.form button{
    background-color: rgb(255, 119, 0);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 98%;
    height: 40px;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    color: white;

}
.form button a{
    font-weight: bold;
    color: black;
    padding: 10px;
}
.form button:hover{
    color: rgb(255, 119, 0) ;
    background-color: white;
    transition:0.4s ease;
}
.form .link{
      color: white;
      padding-top: 20px;
      text-align: center;

    
}
.form .link a{
    text-decoration: none;
    color:rgb(255, 119, 0);
       
}

.form .login{
    color: white;
    text-align: center;
    padding: 20px;

}